body{
background-color: #e3f5f7;

}

input {
    font-size: large;
    padding: 5px 15px;
    width: 75%;
}

button {
  background-color: #205f66;
  border-style: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin: 2px 8px;
  cursor: pointer;

}

 ul li button {
   background-color: #29c9db;
  align : right;

}

ul {
  font-family: Helvetica;
  list-style-type: none;
  padding: 0px ;



}
ul li {
  padding: 15px 15px;
  position: relative;
  left: 0;
  background: #fcfcfc;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

.makebutton{
  float: right;
  width: 20%;
  margin: 0px 0px;
}

p {
  text-align: center;
  font-family: Arial;
  font-size: 2.5em;
}
