body{
  background-color: #EFEFEF;
}

input {
  font-size: large;
  padding: 5px 15px;
  width: 75%;
}

button {
  background-color: #96858f;
  border-style: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 8px;
  margin: 2px 8px;
  cursor: pointer;
}

 ul li button {
  background-color: #9099A2;
  position: absolute;
  right: 2px;
}

.completeButton {
  background-color: #6D7993;
  position: absolute;
  right: 120px;
}

.makebutton{
  position: absolute;
  right: 0px;
  width: 20%;
  margin: 0px 0px;
}

ul {
  font-family: Helvetica;
  list-style-type: none;
  padding: 0px ;
}
ul li {
  padding: 30px 15px;
  left: 0;
  background: #FCFCFC;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

p {
  text-align: center;
  font-family: Helvetica;
  font-size: 2.5em;
}
